.club__title {
    font-family: "YS-Black", sans-serif;
    margin: 0;
    padding: 0;
    width: 640px;

    font-size: 56px;

    font-weight: 900;
    line-height: 100%;
    /* 56px */
    letter-spacing: -1.12px;
    margin-bottom: 48px;
}

@media (max-width: 380px) {
    .club__title {
        width: 311px;
        font-size: 32px;
        letter-spacing: -0.64px;
        margin-bottom: 32px;
    }
}