.club {
    display: flex;
    flex-direction: column;
    margin-left: 262px;
    margin-left: 262px;
    margin-bottom: 128px;
}

@media (max-width: 380px) {
    .club {
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 62px;

    }
}