@font-face {
    font-family: "YS-Regular";
    src: url("./text-regular.woff");
}

@font-face {
    font-family: "YS-Medium";
    src: url("./text-medium.woff");
}

@font-face {
    font-family: "YS-Black";
    src: url("./text-black.woff");
}