.top__price {
    padding: 10px 12px 6px 0px;
    text-align: center;
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    line-height: 0;
    border-radius: 500px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
}

@media (max-width: 380px) {
    .top__price {
        padding: 5px 9px 2px 0px;
        font-size: 13px;

    }
}