.span {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;


    width: 149px;
    height: 33px;
    color: #808080;
    text-decoration: line-through;
    font-size: 16px;

    font-weight: 500;
    line-height: 0;
    border-radius: 500px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
}